xxhash==3.5.0
PyYAML==6.0.2
psutil==6.1.0
beartype==0.19.0
idna==3.10
open_clip_torch==2.29.0
nvidia-cusparse-cu12==12.3.1.170
nvidia-cudnn-cu11==9.1.0.70
requests==2.32.3
scikit-learn==1.5.2
pillow==11.0.0
nvidia-cuda-nvrtc-cu11==11.8.89
torchaudio==2.5.1+cu118
tensorboard-data-server==0.7.2
dill==0.3.8
wcwidth==0.2.13
GitPython==3.1.43
protobuf==5.29.1
wandb==0.19.0
frozendict==2.4.6
tensorboard==2.18.0
classifier-free-guidance-pytorch==0.7.1
ninja==1.11.1.2
frozenlist==1.5.0
cycler==0.12.1
einops==0.8.0
tzdata==2024.2
pytorch-warmup==0.2.0
nvidia-cufft-cu12==11.2.1.3
nvidia-cublas-cu11==11.11.3.6
local-attention==1.9.15
pydantic==2.10.3
pip==22.0.2
nvidia-cufft-cu11==10.9.0.58
torchtyping==0.1.5
libigl==2.5.1
filelock==3.16.1
regex==2024.11.6
huggingface-hub==0.26.5
gateloop-transformer==0.2.5
einx==0.3.0
charset-normalizer==3.4.0
aiohappyeyeballs==2.4.4
fonttools==4.55.2
Werkzeug==3.1.3
transformers==4.38.2
torch==2.5.1+cu118
annotated-types==0.7.0
sentry-sdk==2.19.2
nvidia-cuda-runtime-cu12==12.4.127
multiprocess==0.70.16
multidict==6.1.0
nvidia-cuda-cupti-cu12==12.4.127
nvidia-curand-cu12==10.3.5.147
hjson==3.1.0
threadpoolctl==3.5.0
gitdb==4.0.11
scipy==1.14.1
mpmath==1.3.0
yarl==1.18.3
wheel==0.37.1
matplotlib==3.9.3
Jinja2==3.1.4
MarkupSafe==3.0.2
async-timeout==5.0.1
optimum==1.23.3
smmap==5.0.1
absl-py==2.1.0
kiwisolver==1.4.7
pandas==2.2.3
typeguard==2.13.3
tokenizers==0.15.2
nvidia-nvtx-cu12==12.4.127
docker-pycreds==0.4.0
aiohttp==3.11.10
packaging==24.2
humanfriendly==10.0
attrs==24.2.0
typing_extensions==4.12.2
click==8.1.7
python-dateutil==2.9.0.post0
setproctitle==1.3.4
grpcio==1.68.1
nvidia-cublas-cu12==12.4.5.8
contourpy==1.3.1
python-dotenv==1.0.1
nvidia-nccl-cu11==2.21.5
torch-geometric==2.6.1
x-transformers==1.42.24
numpy==2.2.0
nvidia-nvtx-cu11==11.8.86
pyarrow==18.1.0
triton==3.1.0
py-cpuinfo==9.0.0
nvidia-cudnn-cu12==9.1.0.70
vector-quantize-pytorch==1.20.11
nvidia-nccl-cu12==2.21.5
nvidia-cuda-nvrtc-cu12==12.4.127
nvidia-nvjitlink-cu12==12.4.127
propcache==0.2.1
six==1.17.0
nvidia-cuda-cupti-cu11==11.8.87
torchvision==0.20.1+cu118
environs==11.2.1
ema-pytorch==0.7.7
rotary-embedding-torch==0.8.6
pyparsing==3.2.0
nvidia-cusolver-cu11==11.4.1.48
datasets==3.1.0
accelerate==1.2.0
marshmallow==3.23.1
pydantic_core==2.27.1
nvidia-cuda-runtime-cu11==11.8.89
loguru==0.7.3
safetensors==0.4.5
joblib==1.4.2
trimesh==4.5.3
coloredlogs==15.0.1
nvidia-cusolver-cu12==11.6.1.9
pytorch-custom-utils==0.0.21
nvidia-cusparse-cu11==11.7.5.86
urllib3==2.2.3
sympy==1.13.1
nvidia-curand-cu11==10.3.0.86
aiosignal==1.3.1
networkx==3.4.2
seaborn==0.13.2
pytz==2024.2
msgpack==1.1.0
Markdown==3.7
setuptools==59.6.0
nvidia-ml-py==12.560.30
ftfy==6.3.1
timm==1.0.12
optree==0.13.1
plyfile==1.1
tqdm==4.67.1
certifi==2024.8.30
platformdirs==4.3.6
fsspec==2024.9.0
